@import "bootstrap/bootstrap";

@import "utils/vars";
@import "utils/libs";
@import "utils/fonts";
@import "utils/media";

@import "modules/header";
@import "modules/panels-seria-current";
@import "modules/products";

// @import "modules/description";
// @import "modules/panel-versus";
@import "modules/sertificats";
// @import "modules/blog";
@import "modules/footer";
@import "modules/search-popup";
// @import "modules/mobile-navigation";
@import "modules/panel-sera";
@import "modules/interested";

body{
  font-family: $mainFont;
}
*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
   margin: 0;
   width: 100% ;
   @media screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 18px;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    font-size: 20px;
  }
  @media screen and (min-width: 992px ){
    font-size: 24px;
  }
}
a { text-decoration: none; }

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.section-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    @media screen and(min-width: 768px) {
      max-width: 100%;
      margin: 0 auto;
    }
    @media screen and(min-width: 992px){
  
    }
    @media screen and(min-width: 1100px){
      max-width: 1080px;
      margin: 0 auto;
    }
    @media screen and(min-width: 1200px){
        max-width: 1090px;
    }
    // @media screen and(min-width: 1366px){
    //   min-width: 1180px;
    //   margin: 0 auto;
    // }
  }

  .panels-and-modules-navigation{
    background: #005CA8;
    padding: 10px 10px 0px;
    position: absolute;
    width: 100%;
    top: 58px;
    left: 0;
    z-index: 99;
    transition: .3s ease-in-out;
    overflow: hidden;
    &.active{
        transition: .3s ease-in-out;
        left: 0;
    }
    @media screen and (min-width: 992px ){
       padding: 0;
    }
    @media screen and (min-width: 1200px ){
        position: inherit;
        display: inline-block;
        width: 30%;
        max-width: 250px;
        padding: 30px 27px 30px 30px;
        height: 100%;
    }
    h6{
        font-weight: 700;
        color: $main;
        padding-bottom: 8px;
        display: none;
        @media screen and (min-width: 1200px ){
            font-size: 18px;
            display: block;
            padding-bottom: 18px;
        }
    }
    .serials{
        @media screen and (min-width: 1200px ){
            margin-bottom: 30px;
            overflow: hidden;
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            align-items: center;
            @media screen and (min-width: 1200px ){
                display: inherit;
                width: 100%;
            }
            &.more{
  
                position: absolute;
                left: 0;
                padding-top: 10px;
                @media screen and (min-width: 1200px ){
                    display: none;
                }
                li{
                    display: inline-block;
                    width: 20%;
                }        
            }
            .navigation-link-has-sub-menu{
                text-align: center;
                max-height: 30px;
                margin-bottom: 10px;
                overflow: hidden;
                width: 31%;
                margin-right: 5px;
                @media screen and (min-width: 992px ){
                    width: 16%;
                    margin: 0;
                    max-height: unset;
                }
                @media screen and (min-width: 1200px ){
                  margin-bottom: 0;
                  width: 100%;
                  text-align: left;
                  height: 100%;
                }
                a{
                    font-size: 10px;
                    color: $main;
                    font-weight: 400;
                    width: 100%;
                    display: inline-block;
                    padding: 5px 0;
                    text-decoration: none;
                    transition: .3s ease-in-out;
                    
                    &.more-link{
                        opacity: .5;
                        i{
                            vertical-align: middle;
                            font-size: 14px;
                        }
                    }
                    @media screen and (min-width: 400px ){
                        font-size: 11px;
                        padding: 7px 0;
                    }
                    @media screen and (min-width: 480px ){
                        font-size: 12px;
                    }
                    @media screen and (min-width: 600px ){
                        font-size: 13px;
                    }
                    @media screen and (min-width: 768px ){
                        font-size: 14px;
                    }
                    @media screen and (min-width: 992px){
                        padding: 20px 0;
                    }
                    @media screen and (min-width: 1200px ){
                        font-size: 16px;
                        padding: 7px 0;
                    }
                    &:hover{
                        color: #FFD657;
                        transition: .3s ease-in-out;
                    }
                    &.active{
                        color: #FFD657;
                    }
  
  
                }
  
                .panels-and-modules-sub-menu{
                    padding-left: 20px;
                    background: #006BC4;
                    display: none;
                    @media screen and (min-width: 350px){
                        position: relative;
                        left: -13%;
                        width: 100vw;
                        padding: 10px 5px 20px;
                        
                    }
                    
                    @media screen and (min-width: 1200px){
                        background: transparent;
                        width: 100%;
                        left: unset!important;
                        display: block;
                        padding: 0px 10px 4px;
                    }
                    li{
                        width: 33%;
                        @media screen and (min-width: 1200px ){
                          width: 100%;
                      }
                        @media screen and (min-width: 1200px){
                            width: 100%;
                            
                        }
                    }
                }
  
                &.active{
                    max-height: 500px;
                    overflow: unset;
                    font-weight: 600;
                    @media screen and (min-width: 992px){
                       max-height: unset;
                    }
                    @media screen and (min-width: 1200px){
                        background: transparent;
                    }
                    .sub-menu-link{
                        color: #FFD657;
                        font-weight: 600;

                    }
                }
                &:nth-child(1){
                    .panels-and-modules-sub-menu{
                        left: -7%;
                    }
                }
                &:nth-child(2){
                    .panels-and-modules-sub-menu{
                        left: -108%;
                    }
                }
                &:nth-child(3){
                    .panels-and-modules-sub-menu{
                        left: -208%;
                    }
                }
                &:nth-child(4){
                    .panels-and-modules-sub-menu{
                        left: -7%;
                    }
                }
                &:nth-child(5){
                    .panels-and-modules-sub-menu{
                        left: -108%;
                    }
                }
                &:last-of-type(){
                    display: block;
                    .panels-and-modules-sub-menu{
                        left: -208%;
                    }
                    @media screen and(min-width: 1200px){
                        display: none;
                    }
                }
                // &:nth-child(5){
                //     .panels-and-modules-sub-menu{
                //         left: -117%;
                //     }
                // }
            }
        }
  
  
  
    }
    .navigation-more{
        display: none;
        @media screen and (min-width: 1200px ){
            display: block;
        }
        ul{
            li{
                a{
                    color: $main;
                    font-weight: 400;
                    width: 100%;
                    display: inline-block;
                    padding: 7px 0;
                    text-decoration: none;
                    transition: .3s ease-in-out; 
                    
                    &:hover{
                        color: #FFD657;
                        transition: .3s ease-in-out;
                    }
                    &.active{
                        color: #FFD657;
                    }
                }
            }
        }
    }
  }




.section-title{
  margin-bottom: 10px;
  span{
      font-size: 15px;
      color: #707070;
  }
  h1{
      font-size: 22px;
      line-height: 22px;
      padding: 15px 0;
      font-weight: 400;
  }
  p{
      font-size: 15px;
      margin-bottom: 10px;
  }
  @media screen and (min-width: 992px ){
      margin-bottom: 20px;
  }
}

.btn{
  background: #fff;
  color: $primary-darken;
  padding: 0;
  border-radius: 20px;
  padding: 10px 25px;
  border: 0;
  font: 12px "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  transition: .2s ease-in-out;
  text-decoration: none !important;
  @media screen and (min-width:320px) and (max-width: 767px){
    display: inline-block;
    max-width: 300px;
    margin: 0 auto;
  }
  &:hover{
      background: $secondary-darken;
      transition: .2s ease-in-out;
      color: #fff;
  }
}

.article-description{
  position: relative;
  margin-bottom: 40px;
  h3{
      padding-bottom: 10px;
      @media screen and (min-width: 992px ){
          padding-bottom: 30px;
          font-size: 30px;
          font-weight: 400;
      }
  }
  p{
    
      @media screen and (min-width: 992px ){
          font-size: 16px;
      }
  }
  a{
      padding-top: 10px;
      display: block;
      font-weight: 700;
      color: $darkenMain;
      text-decoration: none;
      transition: .3s ease-in-out;
      @media screen and (min-width: 992px ){
          padding: 0;
          display: inline-block;
      }
      &:hover{
          color: #FFD657;
          transition: .3s ease-in-out;
      }
  }
  &:last-child{
      margin-bottom: 0!important;
  }
}

.product-offer{
    background: #005CA8;
    text-align: center;
    padding: 10px 10px;
    width: 100%;
    @media screen and (min-width: 640px ) {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 40px ;
        flex-wrap: wrap;
        
    }
    @media screen and (min-width: 992px ) {
        padding: 20px 40px;
    }
    @media screen and (min-width: 1100px ) {
      padding: 25px 0;
    }
    .section-container{
      align-items: center;
      @media screen and (min-width: 1100px ) {
          padding: 0px 90px;
      }
    img{
        margin-bottom: 7.5px;
        flex: 0 0 25%;
        margin:  0 auto;
         @media screen and (min-width: 640px ) {
             margin-bottom: 10px;
         }
         @media screen and (min-width: 860px ) {
          margin-bottom: 0;
         }
         @media screen and (min-width: 992px ) {
          flex: 0 0 20%;
          margin-bottom: 0;
        }
        @media screen and (min-width: 1100px ) {
            margin: 0;
        }
    }
    p{
        color: $main;
        font-size: 14px;
        margin-bottom: 10px;
        flex: 0 0 100%;
        @media screen and (min-width: 640px ) {
          margin-bottom: 15px;
        }
         @media screen and (min-width: 800px ) {
             padding: 0 10px;
             font-size: 13px;
         }
         @media screen and (min-width: 860px ) {
          flex: 0 0 50%;
          margin: 0;
        }
        @media screen and (min-width: 992px ) {
          flex: 0 0 60%;
        }
         @media screen and (min-width: 1100px ) {
            font-size: 16px;
            margin-bottom: 0;
        }
        b{
          display: block;
  
      }
    }
    .btn-wrap{
        text-align: center;
        flex: 0 0 100%;
        @media screen and (min-width: 860px ) {
          text-align: right;
          flex: 0 0 20%;
        }
        @media screen and (min-width: 992px ) {
          flex: 0 0 15%;
      }
      @media screen and (min-width: 1100px ) {
        flex: 0 0 16%;
      }
    }
  }
  }
.back-link{
    margin-top: 160px;
    display: block;
    font-size: 9px;
    opacity: .7;
    color: #000;
    padding-left: 15px;
    transition: .2s ease-in-out;
    text-decoration: none !important;
    @media screen and (min-width: 640px ) {
        font-size: 10px;
        margin-top: 165px;
        padding-left: 40px;
    }
    @media screen and (min-width: 992px ) {
        font-size: 11px;
        margin-top: 138px;
    }
    @media screen and (min-width: 1200px ) {
        font-size: 12px;
        margin-top: 93px;
        padding: 0;
    }
    &:hover{
        transition: .3s ease-in-out;
        opacity: 1;
        color: #000;
    }
}