
// FOOTER SRTYLES
footer{
    width: 100%;
    @media screen and (min-width: 1100px){
        max-width: 1080px;
        margin: 0 auto;
    }
 
    // COMPANY ROW
    #company{
        padding: 35px 15px;
        position: relative;
        overflow: hidden;
        @media screen and (min-width: 640px){
            padding: 40px 40px 35px;
        }
        @media screen and (min-width: 991px){
            padding: 50px 40px 35px;
        }
        @media screen and (min-width: 1100px){
            padding-left: 0;
            padding-right: 0;
        }
        .company-items-container{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            position: relative;
            justify-content: space-evenly;
            
            &:before{
                content: '';
                position: absolute;
                bottom: -30px;
                left: 50%;
                height: 1.5px;
                width: 100%;
                background: #eee;
                transform: translateX(-50%);
                @media screen and (min-width: 992px) {
                    width: 100%;
                }

            }
            @media screen and (min-width: 640px){
                align-items: center;
            }
            @media screen and (min-width: 768px){
                align-items: center;
            }
            @media screen and (min-width: 992px) {
                padding: 0;
            }
            .company-item{
                width: 50%;
                @media screen and (min-width: 320px) and (max-width: 767px){
                    article{
                        span{
                            font-size: 14px;
                        }
                    }
                }
                @media screen and (min-width: 768px){
                    width: 33%;
                }
                article{
                    a{
                        color: $primary-darken;
                        font: 18px "Montserrat";
                        text-decoration: none;
                        transition: .2s ease-in-out;
                        &:hover{
                            color:$secondaryColor ;
                            transition: .2s ease-in-out;
                        }
                    }
                    p{  
                        margin-top: 3px;
                        font: 16px "Montserrat";
                        color: #2F2F2F;
                    }
                    span{
                        display: block;
                        font: 8px/16px "Montserrat";
                        color: #575757;
                        font-weight: 500;
                    }
                }
                &:nth-child(1){
                    @media screen and (min-width: 640px){
                        order: 2;
                        width: 33%;
                        article{
                            margin: 0;
                            text-align: center;
                        }
                    }
                    article{
                        &:nth-child(2){
                            margin-top: 20px;
                            @media screen and (min-width: 640px){
                                display: none;
                            }
                        }
                    }
                    a{
                        b{
                            font-size: 16px;
                        }
                    }
                }
                &:nth-child(2){
                    @media screen and (min-width: 640px){
                        width: 33%;
                        order: 3;
                    }
                    article{
                        text-align: right;
                        @media screen and (min-width: 991px){
                            span{
                                font-size: 11px;
                            }
                        }
                        img{
                            max-width: 120px;
                            margin-bottom: 37px;
                            @media screen and (min-width: 480px){
                                width: 100%;
                                max-width: 45px;
                            }
                        }
                    }
                }
                &:nth-child(3){
                    display: none;
                    text-align: center;
                    width: 100%;
                    margin-top: 30px;
                    @media screen and (min-width: 640px){
                        text-align: left;
                        display: block;
                        width: 33%;
                        order: 1;
                        margin: 0;
                    }
                    @media screen and (min-width: 991px){
                        article{
                            p{
                                font-size: 16px;
                            }
                            span{
                                font-size: 11px;
                            }
                        }
                    }
                }
            }
        }

    }

    // SPONSORS & COPYRIGHT ROW
    #sponsor{
        padding: 0 15px 20px;
        @media screen and (min-width: 640px){
            padding: 0 40px 15px;
        }
        @media screen and (min-width: 992px){
            padding-top: 25px;
        }
        @media screen and (min-width: 1100px){
            padding-left: 0;
            padding-right: 0;
        }
        ul{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            align-content: center;
            @media screen and (min-width: 992px) {
                width: 60%;
            }
            li{
                text-align: center;
                flex: 0 0 15%;
                @media screen and (min-width: 640px) {
                    width: 25%;

                }
                @media screen and (min-width: 992px) {
                    text-align: left;
                }
                @media screen and (min-width: 1200px) {
                    width: 25%;
                }
                a{
                    img{
                        max-width: 60px;
                        @media screen and (min-width: 480px) {
                            max-width: 150px;
                        }
                    }
                }
            }

        }
        .copyright{
            text-align: right;
            width: 100%;
            @media screen and (min-width: 992px) {
                width: 40%;
            }
            span{
                font: 5px "Montserrat";
                margin: 0;
                @media screen and (min-width: 1100px ) {
                    font-size: 8px;
                }
                color: #575757;
                    &:nth-child(2){
                        display: block;
                        margin-right: 60px;
                    }
                

            }
        }
    }
    // END FOOTER
}