#interested{
    padding: 20px 70px;
    background-size: cover!important;
    background-position-x: -560px!important;
    @media screen and(min-width: 480px){
        padding: 20px 70px;
    }
    @media screen and(min-width: 640px){
        padding: 30px 40px 30px 40px;
    }
    @media screen and(min-width: 768px){
        padding: 30px 40px 30px 40px;
        background-position: center !important;
    }
    @media screen and(min-width: 992px){
        padding: 40px 40px 40px;
    }
    @media screen and(min-width: 1100px){
        padding: 50px 40px 50px;
    }
    .section-container{
        .interes-text{
            color: $main;
            text-align: center;
            position: relative;
            @media screen and(min-width: 768px){
                text-align: left;
                width: 100%;
            }
            @media screen and(min-width: 992px){
                margin-left: 75px;
                margin-right: 75px;
            }
            @media screen and(min-width: 1100px){
                margin-right: 93px;
                margin-left: 86px;
            }
            article{
                text-align: center;
                @media screen and(min-width: 640px){
                    width: 60%;
                    margin: 0 auto;
                }
                @media screen and(min-width: 768px){
                    max-width: 380px;
                    text-align: left;
                    margin: unset;
                }
                @media screen and(min-width: 992px){
                    width: 50%;
                }
                h3{
                    padding-bottom: 10px;
                    font-size: 22px;
                    font-weight: 500;
                    @media screen and(min-width: 480px){
                        font-size: 22px;
                    }
                    @media screen and(min-width: 640px){
                    font-size: 25px;  
                    padding-bottom: 15px;
                    }
                    @media screen and(min-width: 768px){
                        font-size: 28px;
                        padding-bottom: 20px;
                    }
                    @media screen and(min-width: 992px){
                        font-size: 28px;
                        padding-bottom: 20px;
                    }
                    @media screen and(min-width: 1100px){
                        font-size: 31px;
                        padding-bottom: 25px;
                    }
                }
                p{
                    font-size: 12px;
                    font-weight: 300;
                    margin-bottom: 20px;
                    @media screen and(min-width: 480px){
                        font-size: 14px;

                    }
                    @media screen and(min-width: 1100px){
                        font-size: 16px;
                    }

                    span{
                        font-size: 10px;
                        font-weight: 600;
                        @media screen and(min-width: 480px){
                            font-size: 12px;
                        }
                        @media screen and(min-width: 768px){
                            font-size: 14px;
                        }
                    }
                }
            }
            .btn{
                font-size: 11px;
                @media screen and(min-width: 420px){
                    font-size: 12px;
                }
                @media screen and(min-width: 768px){
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}