#panels-serias-current{
    padding: 0;
    background-size: cover !important;
    background-position: center !important;
    @media screen and (min-width: 640px ){
    }
    
    @media screen and (min-width: 768px ) and (max-width: 991px){

    }
    @media screen and (min-width: 992px ) and (max-width: 1199px){
    }
    @media screen and (min-width: 1200px ){
        padding-top: 25px;
    }

    &.active{
        margin-top: 74px;
    }
    .with-sticky-navigation{
        .section-title{
            h1{
                @media screen and (min-width: 768px ) and (max-width: 991px) {
                    font-size: 30px;
                }
                @media screen and (min-width: 992px ){
                    font-size: 50px;
                    line-height: unset;
                }
    
            }
            &.active{
                display: none;
            }
        }
    
        // PANELS NAVIGATION
    
        // SHOW BTN
        .btn{
    
            &.show{
                z-index: 100;
                transition: .3s ease-in-out;
                right: 70px;
                top: -200px;
                position: fixed;
                opacity: 1;
                font-size: 11px;
                padding: 8px 20px;
                
            }
            &.hidden{
                display: none;
            }
                @media screen and (min-width: 992px ){
                    display: none;
                }
            
        }
    }


}