   // PANELS DESCRIPTION
    .panels-serias-current-table{
        width: 100%;
        @media screen and(min-width: 768px){
            
            // padding-left: 20px;
        }
        @media screen and (min-width: 992px ){
            // padding-left: 30px;
            width: 100%;
        }
        @media screen and (min-width: 1200px ) {
            padding-left: 60px;
            width: 77%;
        }
        @media screen and (min-width: 1365px ) {
            padding-left:100px;
        }
        &.active{
            display: block;
        }
        .article-panel-description{
            padding: 0 15px;
            margin-bottom: 20px;
            @media screen and(min-width: 640px) {
                padding: 0px 40px;
                margin-bottom: 30px;
            }
            @media screen and (min-width: 768px ){
                padding: 0 40px;
            }
            @media screen and (min-width: 992px ){
                padding: 0 40px;
                margin-bottom: 40px;
            }
            @media screen and(min-width: 1100px){
                margin-bottom: 50px;

            }
            @media screen and(min-width: 1200px){
                margin-bottom: 50px;
                padding: 0;
            }
            span{
                font-size: 10px;
                color: #aaa;
                @media screen and (min-width: 768px ) {
                    font-size: 15px;
                    
                }
    
            }
            h1{
                font-size: 30px;
                font-weight: 400;
                padding-bottom: 10px;
                margin: 0;
                @media screen and (min-width: 640px ){
                    font-size: 35px;
                    padding-bottom: 15px;
                }
                @media screen and (min-width: 992px ){
                    font-size: 40px;
                    padding-bottom: 20px;
                }
                @media screen and (min-width: 1100px ){
                    padding-bottom: 25px;
                    font-size: 45px;
                }
            }
            p{
                font-size: 12px;
                font-weight: 400;
                margin: 0;
                
                @media screen and (min-width: 640px ) {
                    font-size: 14px;
                    line-height: 24px;
                }

            }
        }
    }


    
    .panel-parameters{
        background: $mainColor;
        color: $main;
        text-align: center;
        padding: 10px 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
        width: 100%;
        margin-bottom: 0;
        @media screen and (min-width: 640px) and (max-width: 767px) {
            padding: 15px 40px 15px 40px;
        }
        @media screen and (min-width: 768px ) {
            padding: 15px 90px;
            width: auto;
        }
        @media screen and (min-width: 992px) and (max-width: 1199px) {
            align-items: unset;
            padding: 20px 40px;
            max-width: 1000px;
            margin: 0 auto;
        }
        @media screen and (min-width: 1200px)  {
            margin: unset;
            padding: 25px 40px;
        }
        p{
            width: 33%;
            text-transform: uppercase;
            line-height: 30px;
            font-weight: 600;
            margin-bottom: 0;
            font-size: 11px;
            line-height: 15px;
            
            @media screen and (min-width: 640px ) {
                width: 27%;
                margin-right: 45px;
                margin-bottom: 0;
            }
            @media screen and (min-width: 768px){
                width: 16%;
            }
            @media screen and (min-width: 992px ) {
                line-height: 20px;
                width: 16%;
                margin-right: 30px;
            }
            @media screen and(min-width: 1200px){
                width: 20%;
            }
            &:last-child(){
                margin-right: 0;
            }
            &.panel-seria-name{
                font-size: 16px;
                width: 100%;
                margin-bottom: 10px;
                b{
                    font-size: 16px;
                    @media screen and (min-width: 768px ) {
                        display: block;
                    }
                }
                @media screen and (min-width: 768px ) {
                    width: 26%;
                    text-align: left;              
                }
                @media screen and (min-width: 992px ) {
                    margin-bottom: 0;
                    margin-top: 10px;
                }
                br{
                    display: none;
                }
            }
            b{
                font-weight: 700;
                color: #FFD657;
                margin-bottom: 10px;
                font-size: 20px;
                margin-bottom: 10px;
                display: inline-block;
                @media screen and (min-width: 992px ) {
                    margin-bottom: 0;
                }
            }
            &:nth-child(1){
                text-transform: unset;
                color: $main;
                b{
                    color: $main;
                }
            }
        }

    }

    .panels-list{
        background: #fff;
        @media screen and(min-width: 640px) {
            padding: 0px 40px;
        }
        @media screen and (min-width: 1200px){
            margin-top: -218px;
        }
        @media screen and (min-width: 1366px){
            padding: 0px 120px;
        }
        .panels-container{
            padding: 0px 15px;
            width: 100%;
            @media screen and (min-width: 640px){
                padding: 20px 0;
            }
            
                
         
            @media screen and (min-width: 992px){
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;

                padding: 40px 0;
            }
            @media screen and (min-width: 1200px){
                padding: 50px 0;
            }
            @media screen and (min-width: 1366px){
                    max-width: 1090px;
            }
    
    
            .panel{
                width: 100%;
                overflow: hidden;
                padding: 20px 0px 0px;
                position: relative;
                border-bottom: 1.2px solid #eee;
                @media screen and(min-width: 768px){
                    display: flex;
                    flex-wrap: wrap;
                    padding: 40px 0px 40px;
                }
                @media screen and(min-width: 992px){
                    width: 100%;
                    
                }
                @media screen and(min-width: 1200px){
                    width: 70%;
                    padding: 50px 0px 50px;
                }
                @media screen and(min-width: 1365px){
                    width: 71.9%;
                    padding-left: 40px;
                }

                .panels-and-modules-description-table{
                    padding-top: 17px;
                    position: relative;
                    text-align: center;
                    padding-bottom: 20px;
                    @media screen and (min-width: 640px){
                        padding-bottom: 30px;
                    }
                    @media screen and(min-width: 768px){
                        padding-top: 0;
                        width: 38%
                    }
                    @media screen and(min-width: 992px){
                        width: 33%;
                    }
                    @media screen and(min-width: 1200px){
                        width: 35%;
                    }
     
                    .panel-description-name{
                        font-size: 25px;
                        font-weight: 400;
                        transition: .3s ease-in-out;
                        text-align: center;
                        padding-bottom: 10px;
                        @media screen and (min-width: 640px){
                            font-size: 30px;
                            padding-bottom: 10px;
                        }
                        @media screen and (min-width: 768px){
                            text-align: left;
                            font-size: 35px;
                        }
                        &.active-panel{
                            font-size: 50px;
                            transition: .3s ease-in-out;
                        }
                        @media screen and(min-width: 1100px){
                            font-size: 40px;
                        }
                    }
                    img{
                        width: 300px;

                        display: block;
                        margin: 0 auto 20px;
                        @media screen and(min-width: 640px){
                            width: 350px;
                        }
                        @media screen and(min-width: 768px){
                            width: 100%;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                        @media screen and(min-width: 992px){
                            width: 100%;
                            position: absolute;
                            top: 50%;
                            left: 0px;
                            transform: translateY(-50%);
                            max-width: 310px;
                        }
                        @media screen and(min-width: 1200px){
                            max-width: 280px;
                        }

    
            
                    }
                    .btn{
                        background: $mainColor;
                        color: $main;
                        display: inline-block;
                        padding: 7px 13px;
                        font-size: 10px;
                        border: 1.2px solid transparent;
                        @media screen and (min-width: 640px){
                            padding: 8px 27px;
                            font-size: 11px;
                        }
                        @media screen and (min-width: 992px){
                            padding: 10px 27px;
                            font-size: 12px;
                        }
                        &:first-of-type{
                            background: transparent;
                            border: 1.2px solid $mainColor;
                            color: $mainColor;
                            @media screen and(min-width: 480px){
                                margin-right: 8px;
                            }
                            @media screen and (min-width: 640px){
                                margin-right: 20px;
                            }
                            @media screen and (min-width: 768px){
                                display: none;
                            }

                            &:hover{
                                background: $mainColor;
                                border: 1.2px solid transparent;
                                color: #fff;
                            }
                        }
                        &:hover{
                            background: transparent;
                            transition: .2s ease-in-out;
                            color: $mainColor;
                            border: 1.2px solid $mainColor;
                            
                        }
                        @media screen and(min-width: 768px){
                            left: 0;
                            bottom: 0px;
                            position: absolute;
                            top: unset;
                            right: unset;
                            display: block;
                        }
                        @media screen and (min-width: 992px){
                            bottom: 0px;
                            left: 0;
                            top: unset;
                            display: block;
                            text-align: center;
                            max-width: 200px;
                        }
                        @media screen and (min-width: 1100px){
                            bottom: 0px;
   
                        }
                    }
                }
                .panels-and-modules-description-table-parameters{
                    max-height: 1px;
                    overflow: hidden;
                    transition: .3s ease-in-out;
                    &.parameters-open{
                        max-height: 750px;
                        transition: .3s ease-in-out;
                    }
                    @media screen and(min-width: 768px) {
                        max-height: unset;
                        width: 55%;
                        margin-left: 45px;
                    }
                    @media screen and(min-width: 992px) {
                        width: 55%;
                        max-height: unset;
                        margin-left: 100px;
                    }
                    @media screen and(min-width: 1200px) {
                        width: 53%;
                        margin-left: 85px;
                    }
                    h3{
                        font-size: 20px;
                        font-weight: 400;
                        margin-bottom: 40px;
                        margin-top: 30px;
                        transition: .2s ease-in-out;
                        position: relative;
                        display: none;
                        @media screen and(min-width: 768px) {
                            margin-top: 10px;
                            display: block;
                            font-size: 28px;
                        }
                        @media screen and (min-width: 992px ){
                            margin-bottom: 50px;
                            margin-top: 15px;
                            
                        }
                        @media screen and (min-width: 1200px ){
                            font-size: 31px;
                        }
                        i{
                            
                            position: absolute;
                            padding: 10px;
                            top: -5px;
                            color: $mainColor;
                            @media screen and(min-width: 768px) {
                                display: none;
                            }
                            &:hover{
                                opacity: .6;
                                transition: .2s ease-in-out;
                            }
                            &.active{
                                transform: rotateX(180deg);
                            }
                        }

                    }
                    .panel-options-table{
                        display: flex;
                        flex-wrap: wrap;
                        width: 100%;
                        position: relative;
                        padding-bottom: 20px;
                        @media screen and(min-width: 640px) {
                            padding-bottom: 0px;
                        }
                        @media screen and(min-width: 992px) {
                            // padding-bottom: 40px;
                        }
                        @media screen and(min-width: 1100px) {
                            // padding-bottom: 50px;
                        }
                        .panel-product{
                            width: 40%;
                            @media screen and(min-width: 400px) {
                                width: 41%;
                            }
                            @media screen and(min-width: 480px) {
                                width: 41%;
                                margin-left: 35px;
                            }
                            @media screen and(min-width: 640px) {
                                width: 50%;
                                margin-left: 45px;
                            }
                            @media screen and(min-width: 768px) {
                                margin-left: 0;
                            }
                            @media screen and(min-width: 1200px) {
                                width: 54%;
                            }
                            @media screen and(min-width: 1365px) {
                                width: 56%;
                            }
                            p{
                                font-size: 13px;
                                display: flex;
                                align-items: center;
                                color: #000;
                                font-weight: 600;
                                @media screen and(min-width: 640px) {
                                    font-size: 14px;
                                }
                                &:nth-child(1){
                                    height: 20px;
                                }
                                &:nth-child(2){
                                    height: 20px;
                                }
                                &:nth-child(7){
                                    height: 20px;
                                }
                                &:nth-child(8){
                                    height: 20px;
                                }
                                &:last-child(){
                                    margin-bottom: 0;
                                }
                            }
                        }
                        .panel-product-numbers{
                            width: 40%;
                            position: absolute;
                            right: 40px;
                            @media screen and(min-width: 480px) {
                                width: 30%;
 
                            }
                            @media screen and(min-width: 640px) {
                                width: 28%;

                            }
                            @media screen and(min-width: 768px) {
                                width: 29%;
                                right: 0;
                            }
                            @media screen and(min-width: 1200px) {
                                width: 36%;
                            }
                            p{
                                text-align: left;
                                font-size: 13px;
                                display: flex;
                                align-items: center;
                                color: #004C9B;
                                font-weight: 600;
                                @media screen and(min-width: 640px) {
                                    font-size: 14px;
                                }
                                &.panel-power{
                                    color: $secondary-darken
                                }
                                &.panel-performance{
                                    color: $secondary-darken
                                }
                                &:nth-child(1){
                                    height: 20px;
                                }
                                &:nth-child(2){
                                    height: 20px;
                                }
                                &:nth-child(7){
                                    height: 20px;
                                }
                                &:nth-child(8){
                                    height: 20px;
                                }
                            }

                        }
                    }
                    p{
                        font-weight: 400;
                        margin-bottom: 15px;
                        position: relative;
                        text-align: left;
                        font-size: 13px;
                        height: 60px;
                        @media screen and(min-width: 1200px){
                            margin-bottom: 28px;
                        }
                        span{
                            text-align: right;
                            padding-top: 5px;
                            color: $mainColor;
                            display: inline-block;
                            position: absolute;
                            right: 0;
        
                            @media screen and(min-width: 500px){
                                position: absolute;
                                top: -2px;
                                right: 0;
                                display: inline-block;
                            }
                        }
                        &.panel-power{
                            span{
                                color: $secondary-darken;
                            }
            
                        }
                        &.panel-performance{
                            span{
                                color: $secondary-darken;
                            }
                        }
                    }
                }
                &:last-child{
                    border: unset;
                }
            }
        }

    }

