#products{
    padding: 30px 25px;        
    @media screen and (min-width: 768px ) {
        margin-top: -30px;
        padding:30px;
    }
    @media screen and (min-width: 992px ) {
        margin-top: -330px;
        padding: 20px 90px;
    }
    @media screen and (min-width: 1200px ) {
        padding: 20px 140px 90px;
    }

    .section-title{
        h1{
            @media screen and (min-width: 768px ) and(max-width: 991px) {
                font-size: 26px;
            }
            @media screen and (min-width: 992px ) {
                font-size: 40px;
            }
        }
    }
    .products-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: center;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
        @media screen and (min-width: 992px ) {
            max-width: 1020px;

        }
        @media screen and (min-width: 1200px ) {
            max-width: 1220px;
            margin: 0 auto 30px;
        }
        @media screen and (min-width: 1366px ) {
            max-width: unset;
            margin: 0 auto 30px;
        }
        .product{
            text-decoration: none;
            padding-top: 20px;
            border-bottom: 8px solid $secondaryColor;
            text-align: center;
            position: relative;
            padding-bottom: 150px;
            width: 100%;
            cursor: pointer;
            background: $main;
            margin-bottom: 20px;
            box-shadow: 1px 0px 10px -2px rgba(0,0,0,0.51);
            background: $main;
            transition: .4s ease-in-out;
            @media screen and (min-width: 500px ) and (max-width: 767px){
                width: 46.5%;
                margin-bottom: 6%;
            }
            @media screen and (min-width: 768px ) {
                width: 31%;
                min-height: 237px;
                margin-bottom: 22px;
            }
            @media screen and (min-width: 992px ) {
                width: 29%;
                margin: 19px;
                padding-bottom: 115px;
                max-width: 340px;
            }
            @media screen and (min-width: 1200px ) {
                width: 22%;
                padding-bottom: 90px;
                min-width: 200px;
                min-height: 205px;
                margin: 0 auto 25px;

            }
            @media screen and (min-width: 1366px ) {
                margin: 27px;
                width: 20%;
            }
            h5{
                text-transform: uppercase;
                font-weight: 400;
                color: #0088D8;
                transition: .4s ease-in-out;
                font-size: 12px;
                b{
                    font-weight: 400;
                    font-size: 22px;
                }

            }
            img{
                position: absolute;
                left: 50%;
                top: 88px;
                transform: translateX(-50%);
                @media screen and (min-width: 992px ) {
                    left: 50%;
                    top: 99px;
                    transform: translateX(-50%);
                    max-width: 100%;
                }
                @media screen and (min-width: 1200px ) {
                    top: 87px;
                }
            }
            &:nth-child(3n + 1){
                @media screen and (min-width: 992px ) {
                    margin-left: 0;
                }
                @media screen and (min-width: 1200px ) {
                    margin: 0 auto 25px;
                }
                @media screen and (min-width: 1366px ) {
                    margin:27px;
                }
            }
            &:nth-child(3n ){
                @media screen and (min-width: 992px ) {
                    margin-right: 0;
                }
                @media screen and (min-width: 1200px ) {
                    margin: 0 auto 25px;
                }
                @media screen and (min-width: 1366px ) {
                    margin: 27px;
                }
                

            }
            &:nth-child(1n){
                @media screen and (min-width: 1200px ) {
                    margin-left: 0;
                }
            }
            &:nth-child(4n){
                @media screen and (min-width: 1200px ) {
                    margin-right: 0;
                    margin-bottom: 25px;
                }
            }
            // USE
            &:hover{
                background: $darkenMain;
                transition: .4s ease-in-out;
                h5{
                    color: $main;
                    transition: .4s ease-in-out;
                }
            }
        }
    }

    .product-offer{
        background: #005CA8;
        text-align: center;
        padding: 20px 10px;
        @media screen and (min-width: 768px ) {
            display: flex;
            align-items: center;
            padding: 20px 30px ;
        }
        @media screen and (min-width: 992px ) {
            padding: 25px 35px;
        }
        img{
            margin-bottom: 20px;
             @media screen and (min-width: 768px ) {
                 margin: 0;
             }
        }
        p{
            color: $main;
            font-size: 14px;
             @media screen and (min-width: 768px ) {
                 margin: 0;
                 padding: 20px;
             }
             @media screen and (min-width: 1200px ) {
                padding-left: 40px;
                
            }
        }
        .btn-wrap{
            order: 3;
            flex: 1 0 auto;
            align-self: center;
            @media screen and (min-width: 1200px ) {
                margin-left: 100px;
            }
        }
    }
}